
        .container{
            height:100vh ;
            width: 100vw;
            background-color: aqua;
            /* 
            //second one
            display: flex;
            justify-content: center;
            align-items: center; */
            display:grid;
            place-items: center;
        }
        .box{
            height: 30%;
            width: 30%;
            background-color: brown;
            /* 
            //first one
            position: absolute;
            left: 50%;
            top:50%;
            transform: translate(-50%);
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -ms-transform: translate(-50%);
            -o-transform: translate(-50%); */
}

